.mainSection {
}

.mainSection button {
  margin: 1rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
  padding: 0.4rem;
}

@media screen and (max-width: 720px) {
  .mainSection {
    margin-top: 2rem;
  }
  .videoListWrapper {
    display: grid;
    place-items: center;
  }
}

.title {
  font-size: 1.3rem;
  font-weight: 600;
  max-width: 400px;
  padding: 0.5rem 0 0 0.5rem;
  margin: auto;
}
.videoListWrapper {
}

@media screen and (min-width: 721px) {
  .mainSection {
    margin-top: 4rem;
    margin-bottom: 1rem;
    padding: 2rem;
  }
  .videoListWrapper {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 2rem;
  }

  .title {
    padding-top: 2rem;
    margin: 0;
    font-size: 2rem;
    padding-left: 2rem;
  }
}
