.wrapper {
  margin-top: 55px;
}

.wrapper button {
  margin: 1rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
  padding: 0.4rem;
}

.wrapper button:focus {
  border: 1px solid var(--color-3);
}

.emptyPrompt {
  display: grid;
  place-items: center;
  height: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff9f;
}

.listWrapper button {
  position: relative;
  top: 3rem;
  left: 80vw;
  margin: 1rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
  padding: 0.4rem;
}

@media screen and (min-width: 721px) {
  .wrapper {
    margin-top: 100px;
    padding: 1rem;
  }

  .listWrapper {
    max-width: 500px;
  }

  .listWrapper button {
    position: relative;
    top: 6rem;
    left: 2rem;
    margin: 1rem;
    background-color: var(--color-1);
    border: 1px solid var(--color-2);
    color: var(--color-2);
    padding: 0.4rem;
  }
}
