.wrapper {
 margin-top: 55px;
 height: 100%;
}

.wrapper button {
  margin: 1rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
  padding: 0.4rem;
}

.wrapper button:focus{
  border: 1px solid var(--color-3);
}

.emptyPrompt {
  display: grid;
  place-items: center;
  height: 50%;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff9f;
}

