@media screen and (max-width: 720px) {
  .menubar {
    position: fixed;
    top: 55px;
    height: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1px;
    background-color: white;
    z-index: 2;
    transition: top 0.3s;
  }
  
  .menubar > button {
    font-weight: bold;
    display: grid;
    place-items: center;
    color: white;
    background-color: var(--color-1);
    font-size: 1rem;
    border: none;
    padding-bottom: 0.5rem;
  }

  .menubar > button:focus {
     outline: none;
     border-bottom: 2px solid white;
  }
}
