* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--color-1);
  color: white;
}

.App {
  display: grid;
  grid-template-rows: 55px auto;
  height: 100vh;
  
}

.main-wrapper {
  
}

/* Desktop */
@media screen and (min-width: 721px) {
  .main-wrapper {
    display: grid;
    grid-template-columns: 300px auto;
  }
}

/* Mobile */
@media screen and (max-width: 720px) {
  .main-wrapper {
    /* display: grid;
    grid-template-rows: 55px auto; */
  }
}
