.wrapper {
  margin-top: 2rem;
  margin-left: 1rem;
  padding-top: 1rem;
  padding-left: 1rem;
  /* border: 1px solid red; */
}

.wrapper > button {
  margin: 1rem;
  margin-left: 0;
  margin-right: 1.8rem;
  background-color: var(--color-1);
  border: 1px solid var(--color-2);
  color: var(--color-2);
  padding: 0.4rem;
  width: 80px;
}

.inputWrapper {
  margin: 2rem 0 0 0rem;
}

.inputWrapper input {
  display: block;
  padding: 0.2rem;
  font-weight: 600;
  width: 90%;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.redirectPrompt {
  padding-top: 0.5rem;
}

.errorPrompt {
}

.toggleShowPassword {
  position: absolute;
  top: 0.3rem;
  right: 2.8rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-1);
}

@media screen and (min-width: 721px) {
  .wrapper {
    max-width: 1000px;
    padding: 5rem;
    padding-top: 4rem;
  }

  .wrapper > button {
    margin-bottom: 2rem;
  }

  .inputWrapper input {
     width: 260px;
  }
  .toggleShowPassword {
    left: 220px;
  }
}
